@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
    color:crimson;
    text-align: left;
  }
  .oswald{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
body{
    background-color:lightpink;
    background-size: cover;
}
nav{
    max-width: 800px;
    background-color:#ff66c4;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 200px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.menu-horizontal li a{
    display: block;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
}
.menu-horizontal li:hover{
    background-color:coral;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 130px;
    background-color:indianred;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color:brown;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding: 10px 2px;
    text-decoration: none;
    text-align: center;
}
.logo{
    border-radius: 100%;
}
.inicio{
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 27px;
}
.caja{
    margin: 10px; display: flex;
}
.columnas {
    background-color: azure;
    color: #333;
    margin: 7px; margin-top: 0px;
    padding: 5px;
    text-align: center;
}
.pie{
    text-align: left;
    color:aliceblue;
    background-image: url(fondodepie.png);
    padding: 10px 0px 10px 0px;
}
.logo{
    border-radius: 100%;
}
.caja5{
    margin: 0px; display: flex; margin-left: 1px;
    background-color: black;
}
.columnas5{
    color:deeppink;
    margin: 0px; margin-top: 0px; margin-left: 30px;
    padding: 5px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
}
.caja2{
    margin: 10px; display: flex; margin-left: 130px; margin-bottom: 40px;
}
.columna2 {
    color:darkorchid;
    border: 1px solid white;
    margin: 30px; ; margin-top: 0px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    border-radius: 10px;
    text-align: center;
}
.columna2:hover{
    box-shadow: 5px 5px 15px black;
    transform:translateY(-3%);
}
h1{
    
    color:darkred;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
h2{
    color:black;
    text-align: center;
    padding: 3px; 
    background-color: beige;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}