@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
    color:crimson;
    text-align: left;
  }
  .oswald{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
body{
    background-image: url(fondoblanco.png);
    background-size: cover;
}
nav{
    max-width: 800px;
    background-color: #ff66c4;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 200px;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content:space-between;
}
.menu-horizontal li a{
    display: block;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
}
.menu-horizontal li:hover{
    background-color:coral;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 130px;
    background-color:indianred;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li:hover{
    background-color:brown;
}
.menu-vertical li a{
    display: block;
    color: white;
    padding:10px 2px;
    text-decoration: none;
    text-align: center;
}
.logo{
    border-radius: 100%;
}
.inicio{
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}
.caja5{
    margin: 0px; display: flex; margin-left: 1px;
    background-color:black;
}
.columnas5{
    color:deeppink;
    margin: 0px; margin-top: 0px; margin-left: 30px;
    padding: 5px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
}
.pie{
    text-align: left;
    color:aliceblue; 
    background-image: url(fondodepie.png);
    padding: 10px 0px 10px 0px;
}
.caja{
    margin: 10px; display: flex;
}
.columnas {
    background-color: azure;
    color: #333;
    margin: 7px; margin-top: 0px;
    padding: 5px;
    text-align: center;
}
.caja3{
    margin: 10px; display: flex;
}
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
    margin-left: 10px;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: automatico 15s infinite alternate linear;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 325px;
    height: 375px;
}
@media(min-width: 768px){
    .slider img{ height: 250px;}
}
@keyframes automatico{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
h1{
    text-align: center;
    color:mediumvioletred;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: indianred;
    font-size: 25px;
}
.separar{
    display: flex; margin: 10px;
    margin-bottom: 10px;
}
.colum {
    background-color: azure;
    color:black;
    margin: 7px; margin-top: 0px;
    padding: 5px;
    text-align:left;
    margin-left: 400px;
}
.column{
    background-color: azure;
    color:black;
    margin: 7px; margin-top: 0px;
    padding: 5px;
    text-align:left;
    margin-left: 325px;
}
.linea{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
}